<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.reservationSystem.domain.model.valueobject.RecordStringTypeHandler"
                     javaType="com.reservationSystem.domain.model.valueobject.Valueobject"/>

        <typeHandler handler="com.reservationSystem.domain.model.valueobject.RecordIntgerTypeHandler"
                     javaType="com.reservationSystem.domain.model.valueobject.Valueobject"/>


        <typeHandler handler="com.reservationSystem.domain.model.valueobject.RecordBigDecimalTypeHandler"
                     javaType="com.reservationSystem.domain.model.valueobject.Valueobject"/>
                     
    </typeHandlers>

    <mappers>
        <mapper resource="com/reservationSystem/infrastructure/repository/ReservationRepository.xml"/>
        <mapper resource="com/reservationSystem/infrastructure/repository/ReservationListAggregateRepository.xml"/>
    </mappers>
</configuration>
