<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.reservationSystem.domain.model.valueobject.GenericIntegerValueTypeHandler" />
        <typeHandler handler="com.reservationSystem.domain.model.valueobject.GenericStringValueTypeHandler" />
        <typeHandler handler="com.reservationSystem.domain.model.valueobject.GenericLocalDateTimeValueTypeHandler" />
        <!-- Other TypeHandlers... -->
    </typeHandlers>
</configuration>